<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <br>
  <h2 class="titulo"><strong>Ingreso de Usuarios</strong></h2>
  <ion-item color="dark" style="margin-top: 50px;">
    <ion-label></ion-label>
    <ion-input placeholder="Nombre de usuario" required=""></ion-input>
  </ion-item>
  <ion-item color="dark">
    <ion-label></ion-label>
    <ion-input placeholder="Contraseña"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" color="primary" routerLink="/main">Ingresar</ion-button>
  <ion-button expand="block" color="danger" routerLink="/">Volver</ion-button>
  <ion-item color="dark">
    <p style="text-align: center;">Para registrarte haz click <a href="/registro">aqui</a></p>
  </ion-item>

</ion-content>
<!-- Footer -->
<ion-footer class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">
    <ion-title size="small">Developed by Felipe Parra</ion-title>
  </ion-toolbar>
</ion-footer>
