h2{
  text-align: center;
  color: green;
}
h3{
  margin-left: 15px;
  color: orange;
}
ion-list{
  width: 100%;
  background-color: white;

}
ion-item{

  width: 100%;
  background-color: white;
}
ion-label {
  padding: 2%;
  color: white;
  background-color: white;
}
