<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="presionarMenu()" >
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertConfirm()" >
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Main</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <ion-menu side="start" menuId="menu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="information-circle"></ion-icon>
          Informacion
        </ion-item>

        <ion-item>
          <ion-icon name="star"></ion-icon>
          Favoritos
        </ion-item>

        <ion-item>
          <ion-icon name="send"></ion-icon>
          Envios
        </ion-item>

        <ion-item routerLink="/user">
          <ion-icon name="person"></ion-icon>
          Cuenta
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- Contenido -->
  <br>
  <h4 style="color: #00152a; font-weight: 800;">(Usuario) Has ingresado Correctamente!</h4>

  <h3>Nuestros Proyectos</h3><br>
  <h4>Proyecto N°1</h4>
  
    <ion-card>
      <img src="../assets/img/proy1.png">
    </ion-card>
    <h4>Proyecto N°2</h4>
    <ion-card>
      <img src="../assets/img/proy2.png">
    </ion-card>
    <h4>Proyecto N°3</h4>
    <ion-card>
      <img src="../assets/img/proy3.png">
    </ion-card>



  <ion-router-outlet id="main"></ion-router-outlet>
</ion-content>
<!-- Footer -->
<ion-footer class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">
    <ion-title size="small">Developed by Felipe Parra</ion-title>
  </ion-toolbar>
</ion-footer>

