<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="presionarMenu()" >
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertConfirm()" >
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Main</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <ion-menu side="start" menuId="menu" contentId="main">
    <ion-content color="dark">
      <ion-list style="background-color: rgb(238, 238, 238);">
        <ion-item routerLink="/navscan" color="dark">
          <ion-icon name="qr-code-outline" color="primary"></ion-icon>
          <p style="margin-left: 10px; color: #002b58; font-weight: 800;">Scanner</p>
        </ion-item>

        <ion-item color="dark" routerLink="/clientes">
          <ion-icon name="people-outline" color="primary"></ion-icon>
          <p style="margin-left: 10px; color: #002b58; font-weight: 800;">Clientes</p>
        </ion-item>

        <ion-item color="dark" routerLink="/login">
          <ion-icon name="log-out-outline" color="danger"></ion-icon>
          <p style="margin-left: 10px; color: red; font-weight: 800;">Salir</p>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido -->
  <h5 style="color: #002b58; font-weight: 800;">(Usuario) Estas loggeado</h5>
  <ion-router-outlet id="main"></ion-router-outlet>

</ion-content>
<!-- Footer -->
<ion-footer class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">
    <ion-title size="small">Developed by Pipe Parra</ion-title>
  </ion-toolbar>
</ion-footer>

