<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button text="" defaultHref="/menu"></ion-back-button>
      <ion-title>
        Scan
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <ion-slide>
    <ion-button expand="full"
                fill="outline"
                size="large"
                shape="round"
                color="primary"
                (click)="scan()">
          Escanear Codigo
    </ion-button>
  </ion-slide>
</ion-content>
