<ion-header>
  <ion-toolbar color="dark">
    <h2 style="color: #0080FF">Datos de usuario</h2>
    <h4 style="color: #0080FF">Usuario:</h4>
    <h4 style="color: #0080FF">Direccion:</h4>
    <h4 style="color: #0080FF">Correo:</h4>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-button expand="block" color="danger" routerLink="/menu">Volver</ion-button>
</ion-content>

<!-- Footer -->
<ion-footer class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">
    <ion-title size="small">Developed by Felipe Parra</ion-title>
  </ion-toolbar>
</ion-footer>
