<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-icon  style="cursor: pointer;" name="person-circle-outline" size="large" routerLink="/login"></ion-icon>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-card-content>
    <div>
      <img src="../assets/img/bienvenida.png">
    </div>
   </ion-card-content>
   <ion-card color="dark">
    <ion-card-header style="background-color: white;">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title><h2 style="color: #001e3c; text-align: center;"><strong>Retail Off</strong></h2></ion-card-title>
    </ion-card-header>
    <ion-card-content style="background-color: white; text-align: center;">
      
      <h3>Más de 10 años de Experiencia</h3>

      <br>
    </ion-card-content>
  </ion-card><br><br><br>
  
</ion-content>

<!-- Footer -->
<ion-footer class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">
    <ion-title size="small">Developed by Pipe Parra</ion-title>
  </ion-toolbar>
</ion-footer>



