<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title >Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <h2 class="titulo" style="text-align: center; color: #0080FF;">Ingrese sus datos</h2>
  <ion-item color="dark" style="margin-top: 20px;">
    <ion-label></ion-label>
    <ion-input placeholder="Nombre" type="text" [(ngModel)]="username" style="text-align: center;" ng-required="true"></ion-input>
  </ion-item>
  <ion-item color="dark">
    <ion-label></ion-label>
    <ion-input placeholder="Correo" type="email" [(ngModel)]="email" style="text-align: center;" ng-required="true"></ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-label></ion-label>
    <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password" style="text-align: center;" ng-required="true"></ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-label></ion-label>
    <ion-input placeholder="Confirmar Contraseña" type="password" [(ngModel)]="cpassword" style="text-align: center;" ng-required="true"></ion-input>
  </ion-item>


  <ion-button expand="block" color="primary" (click)="registrar()">Registrar</ion-button>
  <ion-button expand="block" color="danger" routerLink="/login">Volver</ion-button>

</ion-content>
<!-- Footer -->
<ion-footer class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">
    <ion-title size="small">Developed by Pipe Parra</ion-title>
  </ion-toolbar>
</ion-footer>
